@media (max-width: 1230px) {
    /*Intro*/
    .intro__inner{
        .intro__title{
            font-size: 120px;
        }
        .intro__subtitle{
            font-size: 52px;
        }
    }
}

@media (max-width: 770px) {
    /*Nav*/
    .nav{
        display: none;
    }

    /*Section*/
    .section{
        padding: 40px 0;
    }
    /*Slider*/
    .intro{
        .slider{
            display: none;
        }
    }
}

@media (max-width: 650px) {
    /*Intro*/
    .intro__inner{
        .intro__title{
            font-size: 40px;
        }
        .intro__subtitle{
            font-size: 22px;
        }
    }

        /*Section*/
        .section{
            padding: 40px 0;
            .section__title{
                font-size: 24px;
            }
            .section__subtitle{
                font-size: 20px;
            }
        }
}